{% extends "layout.html.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Latest Remote Jobs</h1>
    <ul>
    {% for job in latestJobs %}
    	<li class='job'>
    		<a href='{{ path('job-by-id-title', {id: job.jobid, title: job.position|url_encode}) }}'>
	    		<span class="company">{{job.companyname}}</span>
	    		<span class="position">{{job.position}}</span>
	    		<span class="right date">{{job.dateadded_unixtime|date('M d')}}</span>
    		</a>
    	</li>
    {% endfor %}
    </ul>
{% endblock %}
