{% extends "layout.html.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Latest Remote Jobs</h1>
    {% for job in latestJobs %}
    	<div class='job'>
    		{{job.position}} @ {{job.companyname}}<br />
    		<a href='{{ path('job-by-id-title', {id: job.jobid, title: job.position|url_encode}) }}'>Apply at {{job.sourcename}}</a>
    	</div>
    {% endfor %}
{% endblock %}
