<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
      <title>{% block title %}{% endblock %} - RemoteJobAggregator</title>
  {% endblock %}
  {% block assets %}
      <link rel="stylesheet" href="/css/normalize.css"/>
      <link rel="stylesheet" href="/css/foundation.css"/>
      <link rel="stylesheet" href="/css/app.css">
      <script src="/js/modernizr.js"></script>
      <script src="/js/jquery.min.js"></script>
      <script src="/js/foundation.min.js"></script>
      <script>
          $(document).ready(function() {
              $(document).foundation();
          });
      </script>
  {% endblock %}
</head>
<body>
    {% include 'navbar.html.twig' %}
    {% block content %}{% endblock %}
</body>
</html>
