#twitter-widget-0 {
  margin-top: 8px !important;
  margin-right:5px !important;
}

.nopadding {
	padding: 0px !important;
}

.job a:visited {
	color: #1E347B !important;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.job {
	border-bottom: 1px solid #bbbbbb;
    background-color: #F1F1F1;
    margin-bottom: 1rem;
}

 /*.job:nth-of-type(2n) {*/
 	/*background-color: #f7f7f7;*/
 /*}*/
/**/
.job:hover {
	background-color: #FAFAFA;
}

.job a {
	display: block;
    padding: 0.6rem;
}

.job .tags {
    width: 100%;
    background-color: #BBBBBB;
    padding: 0.3rem;
}

.job .company {
	color: #666666;
	font-size: 0.8rem;
}

.not-too-wide {
	max-width: 300px;
}

.job .position {
	overflow: hidden;
    font-weight: bold;
}

.job .date {
	color: #333333;
}

.job .source {
	font-size:0.7em;
	margin-right:30px;
	margin-top:3px;
}

.footer {
	border-top: 8px solid #DDD;
	margin-top:20px;
	padding:20px;
	/*background-color: #CCC;
	color: #FAFAFA;*/
	color: #222222;
}

.footer a {
	/*color: #FAFAFA;*/
}

.footer a:hover {
	color: #0A0A0A;
}

.row {
	padding:5px;
}

.description {
	border-top: 1px solid #999999;
	margin-bottom: 1rem;
}
